.main {
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    h1 {
        margin-bottom: 10px;
        span {
            margin-left: 5px;
            font-size: 70px;
        }
    }
    p {
        font-size: 20px;
    }
}
